<%- include('../layouts/mainLayout', { title: 'Home', body: `
  <div class="home-section">
    <img src="../../../public/assets/images/green-book-cover.jpg" alt="logo My personal library">
    <h2>Welcome to your personal library</h2>
    <h2>Read better, read more...</h2>
  </div>
` }) %>