<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Library</title>
  <link rel="stylesheet" href="/public/normalize.css">
  <link rel="stylesheet" href="/public/login.css">
</head>

<body>
  <main class="main-content">
    <header class="header">
      <h1 class="title">Login</h1>
      <img src="/public/assets/images/flower.png" alt="">
    </header>

    <form class="form login-form">
      <div class="input-field">
        <label for="username">Username</label>
        <input type="text" id="username" required placeholder="Ex. Fernando">
        <span class="error-message" id="username-error"></span>
      </div>

      <div class="input-field">
        <label for="password">Password</label>
        <input type="password" id="password" required>
        <span class="error-message" id="password-error"></span>
      </div>

      <span class="error-message" id="global-error"></span>
      <button type="submit" id="login">Log in</button>
    </form>
  </main>

  <script src="/public/js/login.js" type="module"></script>
</body>

</html>