<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Library</title>
    <link rel="stylesheet" href="../../public/normalize.css">
    <link rel="stylesheet" href="../../public/login.css">
  </head>

  <body>
    <main class="main-content">
      <header class="header">
        <h1 class="title">Signup</h1>
        <img src="./assets/images/flower.png" alt="">
      </header>

      <form class="form signup-form">
        <div class="input-field">
          <label for="username">Username</label>
          <input type="text" id="username" required placeholder="Ex. Fernando">
        </div>

        <div class="input-field">
          <label for="password">Password</label>
          <input type="password" id="password" required>
        </div>

        <div class="input-field">
          <label for="password-repeat">Repeat password</label>
          <input type="password" id="password-repeat" required>
        </div>

        <button type="submit" id="signup">Sign up</button>
      </form>
    </main>

    <script src="./js/signup.js" type="module"></script>
  </body>
</html>