:root {
  --color-body: linear-gradient(0deg, rgba(88, 129, 87, 1) 0%, rgba(218, 215, 205, 1) 100%);
  --color-title-button: #3a5a40;
  --color-text: #344e41;
  --color-input: #494c4f80;
  --color-border-input: #3a5a40;
  --color-input-text: #344e418a;
  --color-button-text: #f2f8ff;
  --color-form-div: #fffff9;
  --color-error: #c00707;
}

@font-face {
  font-family: 'Fredoka';
  src: url('/public/assets/fonts/fredoka.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/public/assets/fonts/fira-sans-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-body);
  width: 100%;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;
  width: 90%;
  max-width: 27rem;
  background-color: var(--color-form-div);
  border-radius: 1.25rem;
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  flex-direction: row;
}

.header img {
  width: 1.25rem;
  height: 1.25rem;
  align-self: flex-end;
  margin-bottom: 2rem;
}

.title {
  font-family: 'Fredoka', sans-serif;
  font-size: clamp(1rem, 1rem + 10vw, 5.625rem);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2.75rem;
  margin-bottom: 1.25rem;
  color: var(--color-title-button);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.form>* {
  width: 100%;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.input-field:last-of-type {
  margin-bottom: 0;
}

.input-field label {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  color: var(--color-text);
}

input {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  color: var(--color-text);
  padding: 0.625rem 1rem;
  height: 2.5625rem;
  border-radius: 0.625rem;
  border: 1px solid var(--color-input);
}

input:focus {
  outline: none;
  border: 2px solid var(--color-border-input);
}

input::placeholder {
  color: var(--color-input-text);
}

.error-message {
  color: var(--color-error);
}

.error-message:not(:empty) {
  margin-top: 0.5rem;
}

#global-error {
  font-family: 'Fira Sans', sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1.125rem;
  text-align: center;
}

button[type='submit'] {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.25rem;
  color: var(--color-button-text);
  max-width: 16rem;
  height: 3rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0.625rem;
  background-color: var(--color-title-button);
  cursor: pointer;
}

.input-container {
  position: relative;
}

#password,
#password-repeat {
  width: 100%;
  padding-right: 2rem;
}

.toggle-password {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.toggle-password img {
  width: 1.375rem;
  height: 1.375rem;
}

a {
  font-family: 'Fira Sans', sans-serif;
  font-size: 1rem;
  color: var(--color-text);
  text-align: center;
  text-decoration: none;
  margin-bottom: 2.75rem;
}

a:hover {
  text-decoration: underline;
}