<aside>
  <nav>
    <ul>
      <li class="nav-link home"><a href="/home" >Home</a></li>
      <hr>
      <li class="nav-link allbooks"><a href="/allbooks" >All books</a></li>
      <hr>
      <li class="nav-link gestionatebooks"><a href="/gestionatebooks" class="nav-link gestionatebooks">Gestionate your books</a></li>
    </ul>
  </nav>
</aside>